//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 24 18:59:00 2016
//! **************************************************************************

SCHEMATIC START;
COMP "r<2>" LOCATE = SITE "B11" LEVEL 1;
COMP "r<3>" LOCATE = SITE "A12" LEVEL 1;
COMP "r<4>" LOCATE = SITE "A13" LEVEL 1;
COMP "r<5>" LOCATE = SITE "B13" LEVEL 1;
COMP "a" LOCATE = SITE "J11" LEVEL 1;
COMP "r<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "b" LOCATE = SITE "J12" LEVEL 1;
COMP "r<1>" LOCATE = SITE "D11" LEVEL 1;
SCHEMATIC END;

