NET "address[0]" LOC = "J11" | IOSTANDARD = LVCMOS33;
NET "address[1]" LOC = "J12" | IOSTANDARD = LVCMOS33;
NET "address[2]" LOC = "H16" | IOSTANDARD = LVCMOS33;
NET "address[3]" LOC = "H13" | IOSTANDARD = LVCMOS33;

NET "clk" CLOCK_DEDICATED_ROUTE=FALSE;
NET "clk" LOC = "C13" | IOSTANDARD = LVCMOS33;

NET "data[0]" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "data[1]" LOC = "A12" | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "data[2]" LOC = "A13" | IOSTANDARD = LVCMOS33 | DRIVE = 8;
NET "data[3]" LOC = "B13" | IOSTANDARD = LVCMOS33 | DRIVE = 8;


#Mapeo de pines para senales de los 7 segmentos
NET "segments[0]" LOC = "E3" | IOSTANDARD = LVCMOS33;
NET "segments[1]" LOC = "E1" | IOSTANDARD = LVCMOS33;
NET "segments[2]" LOC = "G5" | IOSTANDARD = LVCMOS33;
NET "segments[3]" LOC = "D1" | IOSTANDARD = LVCMOS33;
NET "segments[4]" LOC = "E4" | IOSTANDARD = LVCMOS33;
NET "segments[5]" LOC = "C1" | IOSTANDARD = LVCMOS33;
NET "segments[6]" LOC = "C2" | IOSTANDARD = LVCMOS33;

NET "segments[7]" LOC = "H6" | IOSTANDARD = LVCMOS33;
NET "segments[8]" LOC = "K2" | IOSTANDARD = LVCMOS33;
NET "segments[9]" LOC = "H3" | IOSTANDARD = LVCMOS33;
NET "segments[10]" LOC = "K1" | IOSTANDARD = LVCMOS33;
NET "segments[11]" LOC = "G4" | IOSTANDARD = LVCMOS33;
NET "segments[12]" LOC = "J2" | IOSTANDARD = LVCMOS33;
NET "segments[13]" LOC = "G3" | IOSTANDARD = LVCMOS33;

